@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

 header{
    font-family: Abril;
}



 body{
    font-family: Source Sans Pro;
    background-color: #eee;
    display: flex; 
    justify-content: center;
    margin: 0;
    padding: 20px;
}


.first-article{
    width:700px;
    border-radius:8px;
    box-shadow: 2cm gray;
    text-align: left;
}

 main{
    width: 700px;
    background: white;
    box-shadow:ddd;
    padding: 5px;
}

.newspaper-container{
    box-shadow: grey;
    margin: auto;
    max-width: 700px;
    padding: 20px;
    background: white;
    border-radius: 8px;
}

nav ul{
    color: #777;
    list-style-type: none;
}

nav li{
    display: inline-block;
}

nav{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin: 5px;
    position:sticky;
    top: 0;
    background-color: white;
    opacity: 0.7;

}

nav a{
    padding: 3px;
    text-decoration: none;
    color: gray;
    text-align: center;
}

.page-head{
    text-align: center;
    font-family: Roboto Slab;
}

.maurice{
    color: red;
    font-family: Roboto Slab;
}

.more-articles{
    display: flex;
    justify-content: space-between;
}

.more-articles section{
    flex-basis: calc(50% - 10px);
    margin-bottom: 15px;
}

.more-articles img{
    width: 100%;
    height: auto;
}